<h2>  <%= @ask %></h2>
<p> <em> Moi </em></p>

<div class = "coach-answer">
<h2>  <%= @answer %></h2>
<p> <em> La réponse du coach </em></p>
</div>

<div class = "btn btn-primary"> <%= link_to "Rajouter une question", ask_path %> </div>


